<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1468072114808-903e572b8ead?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=966&q=80);">
  <div class="container">
    <h1>Cocktails</h1>
    <p>Add and save all your cocktail recipes</p>
    <%= link_to 'Add your cocktail', new_cocktail_path, class: "btn btn-primary" %>
  </div>
</div>
<br>
<div class="d-flex align-items-center">
  <% @cocktails.each do |cocktail| %>
    <div class="card-product">
        <% if cocktail.photo.file.nil? %>
          <img src='https://309w5s255371fs4df2vftgbl-wpengine.netdna-ssl.com/wp-content/uploads/2017/09/placeholder.jpg' />   
        <% else %>
          <img src="<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>" />
        <% end %>
      <div class="card-product-infos">
        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        <% cocktail.doses.each do |dose| %>
        <p><%= dose.description %> - <%= dose.ingredient.name %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
